<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598368011159-jf0eaojs0p2ks4tdhce43lg9u33ncod3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598368011159-jf0eaojs0p2ks4tdhce43lg9u33ncod3</string>
	<key>API_KEY</key>
	<string>AIzaSyBTNbw-XTK9wK2MlNWepQntclVTTxfmuo4</string>
	<key>GCM_SENDER_ID</key>
	<string>598368011159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatUi</string>
	<key>PROJECT_ID</key>
	<string>chat-67af7</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-67af7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598368011159:ios:62fd9df10beeffda56fad2</string>
</dict>
</plist>